<div class="animated fadeIn">
  <div class="card"  [hidden]="submitted">
    <form   (ngSubmit)="onSubmit()"  method="post" class="form-horizontal">
    <div class="card-header">
      <strong>{{title}}</strong> Slider      
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Slider Name</label>
          <div class="col-sm-4">
            <input type="text"  id="sliderName" (keypress)="setFlags()" [(ngModel)]="category.sliderName"   name="sliderName" class="form-control" placeholder="Slider Name" maxlength="50">
            <p class="alert alert-danger" [hidden]="sliderNameError==0">{{sliderNameMsg}}</p>
          </div> 
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Image </label>
          <div class="col-sm-4">
            <input id="file-input" name="file-input"  (change)="onFileChanged($event)" type="file">
            <input id="file-input" name="file-input" [(ngModel)]="category.image" name="image" id="image" type="hidden">
            <img [src]="category.image"  height="35" width="35" alt=""> 
            <p class="alert alert-danger" [hidden]="sliderImageError==0">{{sliderImageMsg}}</p>            
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Description</label>
          <div class="col-sm-4">
            <input type="text" id="description" [(ngModel)]="category.description" name="description" class="form-control" placeholder="Description" maxlength="150">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Detail Link</label>
          <div class="col-sm-4">
            <input type="text" id="detailLink" [(ngModel)]="category.detailLink" name="detailLink" class="form-control" placeholder="http://www.domain.com" maxlength="200">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Buy Now Link</label>
          <div class="col-sm-4">
            <input type="text" id="buyNowLink" [(ngModel)]="category.buyNowLink" name="buyNowLink" class="form-control" placeholder="http://www.domain.com" maxlength="200">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Title</label>
          <div class="col-sm-4">
            <input type="text" id="title" [(ngModel)]="category.title" name="title" class="form-control" placeholder="Title" maxlength="100">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Sub Title</label>
          <div class="col-sm-4">
            <input type="text" id="subTitle" [(ngModel)]="category.subTitle" name="subTitle" class="form-control" placeholder="Sub Title" maxlength="100">
          </div>
        </div>

    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>&nbsp;&nbsp;
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </form>
  </div>
 </div>
