<div class="animated fadeIn">
  <div class="card" [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" method="post" class="form-horizontal">
    <div class="card-header">
      <strong>{{title}}</strong> Author      
    </div>
    <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Author Name</label>
          <div class="col-sm-4">
            <input type="text" id="authorName"  (keypress)="setFlags()" required [(ngModel)]="author.authorName" name="authorName" class="form-control" placeholder="Author Name" maxlength="100">
            <p class="alert alert-danger" [hidden]="authorNameError==0">{{authorNameMsg}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Image</label>
          <div class="col-sm-4">
           <!-- <input id="file-input" name="file-input"  (change)="onFileChanged($event)" type="file">
            <input id="file-input" name="file-input" [(ngModel)]="author.image" name="image" id="image" type="hidden">
            <img [src]="author.image"  height="35" width="35" alt="">  -->
            <input type="file" (change)="fileChangeEvent($event)" />

            <image-cropper 
            [imageChangedEvent]="imageChangedEvent" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="14 / 18"
            [resizeToWidth]="256" 
            format="png" 
            (imageCropped)="imageCropped($event)" 
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()"></image-cropper>
            <img [src]="croppedImage" />
            <img [src]="author.image"  height="35" width="35" alt=""> 


          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Description</label>
          <div class="col-sm-4">
            <input type="text" id="description" [(ngModel)]="author.description" name="description" class="form-control" placeholder="Description" maxlength="250">
          </div>
        </div>      
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button> &nbsp;&nbsp;
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </form>
  </div>
 </div>
