<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Sub Category List

      <div class="card-header-actions">
        <a href="/#/subcategory/add">
          <button type="button" class="btn btn-primary">
            Add &nbsp; <i class="fa fa-plus-square fa-lg"></i>
          </button>   
        </a>
      </div>

    </div>
    <div class="card-body">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="input-normal">Select Category</label>
        <div class="col-sm-4">
          <select #mySelect (change)='onOptionsSelected(mySelect.value)' class="form-control" id="select1" name="select1" >
            <option value="" ng-reflect-value="">Select Category</option>
            <option [value]="category.id" *ngFor="let category of categorys | async; let i = index;">{{category.categoryName}}</option>
          </select>
        </div>
      </div>

      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th style="width: 3%;">#</th>
            <th style="width: 82%;">Name</th>
            <th style="width: 5%;text-align: center;">Status</th>
            <th style="width: 5%;text-align: right;">Edit</th>
            <th style="width: 5%;text-align: right;">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of subcategorys | async; let i = index;">
            <td>{{i+1}}</td>
            <td>{{category.categoryName}}</td>
            <td style="text-align: center;">
              <span *ngIf="category.isActive == 0"> 
                <input (click)="updateCategoryStatus(category.id)"  type="checkbox" >                      
              </span>
              <span *ngIf="category.isActive == 1"> 
                <input (click)="updateCategoryStatus(category.id)" type="checkbox" checked >
              </span>  
            </td>
            <td style="text-align: right;"><i (click)="updateCategory(category.id)" class="fa fa-edit fa-lg"></i></td>
            <td style="text-align: right;"><i  (click)="deleteCategory(category.id)" class="fa fa-remove fa-lg"></i></td>
          </tr>           
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>
 </div>
