<div class="animated fadeIn">
  <div class="card"  [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" method="post" class="form-horizontal">
    <div class="card-header">
      <strong>{{title}}</strong> Product      
    </div>
    <div class="card-body">
       <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Category Name</label>
          <div class="col-sm-4">
            <select  class="form-control" #mySelect (change)='onOptionsSelected(mySelect.value)'  [(ngModel)]="product.categoryId" id="categoryId" name="categoryId" >
              <option value="0"  ng-reflect-value="0">Select Category</option>
              <option [value]="category.id" [selected]="category.id == product.categoryId" *ngFor="let category of categorys | async; let i = index;">{{category.categoryName}}</option>
            </select>           
            <p class="alert alert-danger" [hidden]="categoryIdError==0">{{categoryIdMsg}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Sub Category Name</label>
          <div class="col-sm-4">
            <select  class="form-control"   [(ngModel)]="product.subCategoryId" id="subCategoryId" name="subCategoryId" >
              <option value="0" selected="selected" ng-reflect-value="0">Select Sub Category</option>
              <option [value]="subcategory.id" [selected]="subcategory.id == product.subCategoryId" *ngFor="let subcategory of subcategorys | async; let i = index;">{{subcategory.categoryName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Book Title</label>
          <div class="col-sm-4">
            <input type="text" id="bookTitle" (keypress)="setFlags()" [(ngModel)]="product.bookTitle"  name="bookTitle" class="form-control" placeholder="Book Title" maxlength="150">
            <p class="alert alert-danger" [hidden]="bookTitleNameError==0">{{bookTitleNameMsg}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Book Description</label>
          <div class="col-sm-4">
            <!--<input type="text" id="description" [(ngModel)]="product.description" name="description" class="form-control" placeholder="Book Description">-->
            <textarea cols="43" rows="4" [(ngModel)]="product.description" id="description" name="description" maxlength="500"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">SKU</label>
          <div class="col-sm-4">
            <input type="text" id="bookSKU" name="bookSKU" [(ngModel)]="product.bookSKU" class="form-control" placeholder="SKU" maxlength="20">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">ISBN</label>
          <div class="col-sm-4">
            <input type="text" id="bookISNB" name="bookISNB" [(ngModel)]="product.bookISNB" class="form-control" placeholder="ISBN"  maxlength="17">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Author</label>
          <div class="col-sm-4"> 
            <select  class="form-control" [(ngModel)]="product.authorId" id="authorId" name="authorId" >
              <option value="0" ng-reflect-value="0">Select Author</option>
              <option [value]="author.id" [selected]="author.id == product.authorId" *ngFor="let author of authors | async; let i = index;">{{author.authorName}}</option>
            </select>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Original Price</label>
          <div class="col-sm-4">
            <input type="text" id="originalPrice" (keypress)="setFlags()" [(ngModel)]="product.originalPrice" name="originalPrice" class="form-control" maxlength="5" placeholder="Original Price">
            <p class="alert alert-danger" [hidden]="priceError==0">{{priceNameMsg}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Discounted Price</label>
          <div class="col-sm-4">
            <input type="text" id="discountedPrice" (click)="setFlags()" [(ngModel)]="product.discountedPrice" name="discountedPrice" class="form-control" maxlength="5"  placeholder="Discounted Price">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Currency</label>
          <div class="col-sm-4"> 
            <select  class="form-control" [(ngModel)]="product.currencyId" id="currencyId" name="currencyId" >
              <option value="0" ng-reflect-value="0">Select Currency</option>
              <option [value]="currency.id" [selected]="currency.id == product.currencyId" *ngFor="let currency of currencys | async; let i = index;">{{currency.currencyName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Taxes</label>
          <div class="col-sm-4">
            <input type="text" id="bookTaxes" [(ngModel)]="product.bookTaxes" name="bookTaxes" class="form-control" placeholder="Taxes">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Binding Type</label>
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" id="checkbox1" type="checkbox" value="option1">
              <label class="form-check-label" for="checkbox1">
                Hardbound
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="checkbox2" type="checkbox" value="option1">
              <label class="form-check-label" for="checkbox2">
                Paperback
              </label>
            </div>
           </div>
        </div>
        <!--iv class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal"> Featured (Y/N)</label>
          <div class="col-sm-4"> 
            <div class="form-check form-check-inline mr-1" id="inline-radios">
              <input class="form-check-input" id="featured" name="inline-radios" type="radio" value="Yes">
              <label class="form-check-label" for="featured">Yes</label> &nbsp;&nbsp;
              <input class="form-check-input" id="featured" name="inline-radios" type="radio" value="NO">
              <label class="form-check-label" for="featured">No</label>
            </div>
          </div>
        </div>-->

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="file-input">Image 1</label>
          <div class="col-md-9">
            <input type="file" (change)="fileChangeEvent($event)" />
            <image-cropper 
            [imageChangedEvent]="imageChangedEvent" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="14 / 18"
            [resizeToWidth]="256" 
            format="png" 
            (imageCropped)="imageCropped($event)" 
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()"></image-cropper>
            <img [src]="croppedImage" />
            <img [src]="product.image"  height="35" width="35" alt=""> 
          </div>
        </div>  

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="file-input">Image 2 </label>
          <div class="col-md-9">
            <input type="file" (change)="fileChangeEvent1($event)" />
            <image-cropper 
            [imageChangedEvent]="imageChangedEvent1" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="14 / 18"
            [resizeToWidth]="256" 
            format="png" 
            (imageCropped)="imageCropped1($event)" 
            (imageLoaded)="imageLoaded1()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()"></image-cropper>
            <img [src]="croppedImage1" />
            <img [src]="product.image1"  height="35" width="35" alt=""> 
          </div>
        </div>  

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="file-input">Image 3 </label>
          <div class="col-md-9">
            <input type="file" (change)="fileChangeEvent2($event)" />
            <image-cropper 
            [imageChangedEvent]="imageChangedEvent2" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="14 / 18"
            [resizeToWidth]="256" 
            format="png" 
            (imageCropped)="imageCropped2($event)" 
            (imageLoaded)="imageLoaded2()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()"></image-cropper>
            <img [src]="croppedImage2" />
            <img [src]="product.image2"  height="35" width="35" alt=""> 
          </div>
        </div>  

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="file-input">Image 4 </label>
          <div class="col-md-9">
            <input type="file" (change)="fileChangeEvent3($event)" />
            <image-cropper 
            [imageChangedEvent]="imageChangedEvent3" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="14 / 18"
            [resizeToWidth]="256" 
            format="png" 
            (imageCropped)="imageCropped3($event)" 
            (imageLoaded)="imageLoaded3()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()"></image-cropper>
            <img [src]="croppedImage3" />
            <img [src]="product.image3"  height="35" width="35" alt=""> 
          </div>
        </div>  

        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="file-input">Image 5 </label>
          <div class="col-md-9">
            <input type="file" (change)="fileChangeEvent4($event)" />
            <image-cropper 
            [imageChangedEvent]="imageChangedEvent4" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="14 / 18"
            [resizeToWidth]="256" 
            format="png" 
            (imageCropped)="imageCropped4($event)" 
            (imageLoaded)="imageLoaded4()"
            (cropperReady)="cropperReady()" 
            (loadImageFailed)="loadImageFailed()"></image-cropper>
            <img [src]="croppedImage4" />
            <img [src]="product.image4"  height="35" width="35" alt=""> 
          </div>
        </div>  

    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>&nbsp;&nbsp;
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </form>
  </div>
 </div>
