<div class="animated fadeIn">
  <div class="card"  [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" method="post" class="form-horizontal">
    <div class="card-header">
      <strong>Add</strong> Product      
    </div>
    <div class="card-body">
       <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Category Name</label>
          <div class="col-sm-4"> 
            <select  class="form-control" #mySelect (change)='onOptionsSelected(mySelect.value)'  [(ngModel)]="product.categoryId" id="categoryId" name="categoryId" >
              <option value="0" ng-reflect-value="0">Select Category</option>
              <option [value]="category.id" [selected]="category.id == product.categoryId" *ngFor="let category of categorys | async; let i = index;">{{category.categoryName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Sub Category Name</label>
          <div class="col-sm-4">
            <select  class="form-control" #mySelect (change)='onOptionsSelected(mySelect.value)'  [(ngModel)]="product.subCategoryId" id="subCategoryId" name="subCategoryId" >
              <option value="0" ng-reflect-value="0">Select Sub Category</option>
              <option [value]="subcategory.id" [selected]="subcategory.id == product.subCategoryId" *ngFor="let subcategory of subcategorys | async; let i = index;">{{subcategory.categoryName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Book Title</label>
          <div class="col-sm-4">
            <input type="text" id="bookTitle" [(ngModel)]="product.bookTitle"  name="bookTitle" class="form-control" placeholder="Book Title">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Book Description</label>
          <div class="col-sm-4">
            <input type="text" id="description" [(ngModel)]="product.description" name="description" class="form-control" placeholder="Book Description">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">SKU</label>
          <div class="col-sm-4">
            <input type="text" id="bookSKU" name="bookSKU" [(ngModel)]="product.bookSKU" class="form-control" placeholder="SKU">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">ISBN</label>
          <div class="col-sm-4">
            <input type="text" id="bookISNB" name="bookISNB" [(ngModel)]="product.bookISNB" class="form-control" placeholder="ISBN">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Author</label>
          <div class="col-sm-4"> 
            <select  class="form-control" [(ngModel)]="product.authorId" id="authorId" name="authorId" >
              <option value="0" ng-reflect-value="0">Select Author</option>
              <option [value]="author.id" [selected]="author.id == product.authorId" *ngFor="let author of authors | async; let i = index;">{{author.authorName}}</option>
            </select>
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Price</label>
          <div class="col-sm-4">
            <input type="text" id="bookPrice" [(ngModel)]="product.bookPrice" name="bookPrice" class="form-control" placeholder="Price">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Currency</label>
          <div class="col-sm-4"> 
            <select  class="form-control" [(ngModel)]="product.currencyId" id="currencyId" name="currencyId" >
              <option value="0" ng-reflect-value="0">Select Currency</option>
              <option [value]="currency.id" [selected]="currency.id == product.currencyId" *ngFor="let currency of currencys | async; let i = index;">{{currency.currencyName}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Taxes</label>
          <div class="col-sm-4">
            <input type="text" id="bookTaxes" [(ngModel)]="product.bookTaxes" name="bookTaxes" class="form-control" placeholder="Taxes">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Binding Type</label>
          <div class="col-sm-4">
            <div class="form-check">
              <input class="form-check-input" id="checkbox1" type="checkbox" value="option1">
              <label class="form-check-label" for="checkbox1">
                Hardbound
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" id="checkbox2" type="checkbox" value="option1">
              <label class="form-check-label" for="checkbox2">
                Paperback
              </label>
            </div>
           </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal"> Featured (Y/N)</label>
          <div class="col-sm-4"> 
            <div class="form-check form-check-inline mr-1" id="inline-radios">
              <input class="form-check-input" id="featured" name="inline-radios" type="radio" value="Yes">
              <label class="form-check-label" for="featured">Yes</label> &nbsp;&nbsp;
              <input class="form-check-input" id="featured" name="inline-radios" type="radio" value="NO">
              <label class="form-check-label" for="featured">No</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="file-input">Image </label>
          <div class="col-md-9">
            <input id="file-input" name="file-input" type="file">
          </div>
        </div>  
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </form>
  </div>
 </div>
