<div class="animated fadeIn" ngxUiLoaderBlurred>
  <div class="card">
    <div class="card-header">
      Product List
      <div class="card-header-actions">
         
      </div>

    </div>
    <div class="card-body">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th style="width: 3%;">#</th>
            <th style="width: 17%;">Order Number</th>            
            <th style="width: 20%;">Customer Name</th>            
            <th style="width: 15%;">Order Date</th>
            <th style="width: 15%;">orderQty</th>
            <th style="width: 10%;">Payment Status</th>
            <th style="width: 10%;text-align: right;">Paid Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of collection | filter:filter | paginate: config ; let i = index;">
            <td class="rowData" (click)="getOrderDetails(order.id)">
              <span *ngIf="this.config.currentPage==1">
                  {{i+1}}
               </span>
               <span *ngIf="this.config.currentPage > 1">
                {{((this.config.currentPage-1) * this.config.itemsPerPage) + (i+1)}}
             </span>
                
            </td>
            <td class="rowData" (click)="getOrderDetails(order.id)">ORD{{order.id}}</td>
            <td class="rowData" (click)="getOrderDetails(order.id)">ORD{{order.fullName}}</td>
            <td class="rowData" (click)="getOrderDetails(order.id)">{{order.createdDate}}</td>
            <td class="rowData" (click)="getOrderDetails(order.id)">{{order.orderQty}}</td>
            <td class="rowData" (click)="getOrderDetails(order.id)">{{order.orderStatus}}</td>
            <td class="rowData" (click)="getOrderDetails(order.id)">{{order.currencyType}}{{order.amount}}</td>
          </tr>            
        </tbody>
      </table>
      <pagination-controls style="float: right;" (pageChange)="pageChange($event)" class="pagination"></pagination-controls>
    </div>
  </div>
 </div>
 <ngx-ui-loader></ngx-ui-loader>