<div class="animated fadeIn">
  <div class="card" [hidden]="submitted">
    <form (ngSubmit)="onSubmit()"  method="post" class="form-horizontal">
    <div class="card-header">
      <strong>{{title}}</strong> Currency
      
    </div>
    <div class="card-body">       
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Currency Name</label>
          <div class="col-sm-4">
            <input type="text" id="currencyName" (keypress)="setFlags()" required [(ngModel)]="currency.currencyName" name="currencyName" class="form-control" placeholder="Currency Name"  maxlength="50">
            <p class="alert alert-danger" [hidden]="currencyNameError==0">{{currencyNameMsg}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-normal">Currency Symbole</label>
          <div class="col-sm-4">
            <input type="text" id="currencySymbol" (keypress)="setFlags()" required [(ngModel)]="currency.currencySymbol" name="currencySymbol" class="form-control" placeholder="Currency Symbole" maxlength="5">
            <p class="alert alert-danger" [hidden]="currencySymbolError==0">{{currencySymbolMsg}}</p>
          </div>
        </div>
      
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>&nbsp;&nbsp;
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </form>
  </div>
 </div>
